@(paste: Paste)


@main("gBin") {


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@paste.guid</h3>
        </div>
        <div class="panel-body">
            <pre class="prettyprint">@paste.content</pre>
            <div class="btn-group">
            <a class="btn btn-default" href="@controllers.routes.PasteController.raw(paste.guid)">View Raw</a>
            <a class="btn btn-default" href="@controllers.routes.PasteController.json(paste.guid)">View JSON</a>
                         </div>
        </div>
    </div>


    <a href="@controllers.routes.PasteController.list()">Back to Recent Pastes</a>

}